provis/holoprot
docs/.DS_Store 
.DS_Store
__pychache__
provis/.DS_Store
provis/__pycache__
provis/src/.DS_Store
provis/src/__pycache__
datasets
provis/data/tmp
dist/*
build/*
.ipynb_checkpoints/
provis.egg-info/
__pycache__/
..readthedocs.yaml.swp
.readthedocs.yaml 

*.pyc
*.vert
*.face
*.area
*.pqr
*.mol2
*.xyzrn
